@import "tailwindcss";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}

h1, p {
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}
